@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-gray-50;
}

input {
  @apply px-2;
}
  .fc-header-toolbar {
    display: inline-block;
    padding: 4px 4px;
    
    @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600 ;
  
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-violet-100 ;
}

.fc .fc-button{
  @apply bg-violet-800 hover:bg-violet-900  ;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-violet-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-violet-600;
}
.fc-v-event {
  @apply bg-violet-500 border border-violet-600 ;
  
}

/* Targeting the scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Styling the scrollbar thumb with a transparent background and rounded corners */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent dark background */
  border-radius: 6px; /* Rounded corners */
  border: 2px solid transparent; /* Makes the corners even more rounded */
  background-clip: content-box; /* Ensures the border affects the rounding */
}

/* Styling the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Transparent background for the track */
}